body {
    margin: 0;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #445161;
    padding: 0 calc(50% - 1172px / 2);
}

.product__caption {

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 69px;
    color: #FFFFFF;
}

.product__descr-list {
    list-style: url(../img/icons/check-icon.svg);
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.about-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 45px calc(50% - 1172px / 2);
}

.caption-h2 {
    margin: 0;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #445161;
}

.about-product__text {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: #333333;
}

.column-text-about {
    width: 646px;
}

.dignity {
    background-color: #F5F5F5;
    text-align: center;
    padding: 25px calc(50% - 1172px / 2) 48px calc(50% - 1172px / 2);
}

.wrap-dignity {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dignity-block {
    width: 568px;
    display: flex;
    align-items: flex-start;
    margin-top: 33px;
}

.dignity-block__text {
    margin: 0 0 0 8px;
    text-align: justify;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: #333333;
}

.screenshots {
    text-align: center;
    background-color: #fff;
    padding: 45px calc(50% - 1172px / 2);
}

.screenshots__caption {
    margin-bottom: 45px;
}

.wrap-screenshots {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.screenshots-block {
    width: 575px;
    display: flex;
    margin-bottom: 27px;
}

.screenshots-block__caption {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #445161;
    text-align: left;
    margin: 0 0 13px 0;
}

.screenshots-block__text {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    text-align: justify;
    margin: 0;
}

.wrap-screenshots-block {
    margin-left: 14px;

}

.reviews {
    text-align: center;
    background-color: #F5F5F5;
    padding: 25px calc(50% - 1172px / 2) 42px calc(50% - 1172px / 2);
}

.wrap-reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reviews__caption {
    margin-bottom: 29px;
}

.reviews-block {
    display: flex;
    width: 568px;
    margin-bottom: 22px;
}

.wrap-reviews-comment {
    background-color: #EBEBEB;
    padding: 16px 10px 0 15px;
    text-align: justify;
}

.reviews-block__comment {
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin: 0 0 5px 0;

}

.reviews-block__comment-autor {
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #989898;
    margin: 0;
}

.reviews-block__img {
    margin-right: 15px;
}

.buy-it {
    text-align: center;
    background-color: #fff;
    padding: 45px calc(50% - 1172px / 2);
}

.buy-it__caption {
    margin-bottom: 26px;
}

.wrap-buy-it {
    display: flex;
    justify-content: center;
    align-items: flex-end
}

.buy-it-block {
    width: 300px;
    border: 2px solid #445162;
    background-color: #445161;
    border-radius: 5px;
    padding-bottom: 19px;
    margin: 0 22px;
}

.buy-it-block__price {
    background-color: #fff;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 30px;
    color: #445162;
    padding: 25px 0 16px 0;
    margin: 0;
}

.buy-it-block__caption {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

.buy-it-block__list {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: left;
}

.buy-it-block__button {
    background-color: #FFFFFF;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #445161;
    width: 262px;
    height: 43px;
}

.contacts {
    background-color: #445161;
    padding: 25px calc(50% - 1172px / 2) 48px calc(50% - 1172px / 2);
}

.contacts__caption {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 43px;
}

.wrap-social-link {
    display: flex;
    justify-content: center;
}

.contacts__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts__form .contacts__name,
.contacts__mail,
.contacts__message {
    padding: 10px 10px 6px 10px;
    margin-bottom: 18px;
    box-sizing: border-box;
    border-radius: 4px;
    width: 503px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #445162;
}

.contacts__message {
    height: 173px;
}

.contacts__button {
    width: 143px;
    height: 43px;
    background-color: #FFFFFF;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #445162;
    border-radius: 4px;
}

.wrap-social-networks {
    display: flex;
    flex-direction: column;
    margin-left: 45px;
}

.wrap-contacts {
    display: flex;
    flex-direction: column;
}

.contacts__text {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 0 0 5px;
}

.wrap-soc-icons {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.wrap-soc-networks-icons {
    margin-top: 34px;
}

.footer {
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: #445162;
    background-color: #F5F5F5;
    margin: 0;
    padding: 13px 0;
}